.main-layout {
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 2rem;
  grid-template-areas: "header header header header""main main main aside""footer footer footer footer";
}

header {
  grid-area: header;
  text-align: center;
}

.nav {
  font-size: 2em;
  margin-top: 0.5em;
  background-color: #03a3df;
  display: flex;
  padding: 0.5em;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}