body {
  background-color: black;
  color: white;
  font-family: Arial;
  font-size: 17px;
}

nav a {
  color: white;
  text-decoration: none;
  text-align: center;
}

a:visited {
  color: #ccc;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  background-image: url("../images/footerImage.jpg");
  grid-area: footer;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h1,
h2,
h3 {
  font-weight: bold;
}

video {
  width: 400px;
  height: auto;
}

footer {
  background-image: url("../images/footerImage.jpg");
  display: flex;
  flex-direction: row;
}

.associations {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem auto;
}

.footer-links {
  color: white;
}

.contact-info {
  text-align: center;
}